.table th img, .jsgrid .jsgrid-table th img, .table td img, .jsgrid .jsgrid-table td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgP{
    width:70px;
    height:70px;
    /*border: 1px solid red;*/
  }
