.ContenedorImage{
    width:100%;
    height:10rem;
    border:1px solid white;
   }

   .ContenedorImage  div{
    
    
    /*min-width:2rem;
    max-width:5rem;*/
    height:8rem;
    width: auto;
   }

   .ContenedorImage > div >img{
    
    width:auto;
    height:100%;
   }