
html,
body {
	background-color: #000000;
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #ffffff;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
    font: 20px/1.2 Lato,sans-serif;
    font-weight: 700;
    margin-bottom: 3px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 82%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


.header__logo h2 {
	margin: 15px;
}

.header__logo a {
	width: 300px;
	display: inline-block;
}

.header__menu {
	padding: 24px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}



.header__menu ul li.active a {
	color: #ff0000;
}


.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}


.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}



.title-left{
	font-size: 16px;
	border-bottom: 3px solid #f90000;
	margin-bottom: 20px;
}

.title-left h3{
	font-weight: 700;
}
.list-group-item {
	border: none;
	padding: 3px 10px;
	font-size: 16px;
}

.list-group-item{
	background-color: transparent;
	color: #F3F6FA;
}
.list-group-item[data-toggle="collapse"]{
	background-color: transparent;
	color: #ffffff;
	font-weight: 700;
}

.list-group-item[data-toggle="collapse"]::after {
	width: 0;
	height: 0;
	position: absolute;
	top: calc(50% - 12px);
	right: 10px;
	content: '';
	-webkit-transition: top .2s,-webkit-transform .2s;
	transition: top .2s,-webkit-transform .2s;
	transition: transform .2s,top .2s;
	transition: transform .2s,top .2s,-webkit-transform .2s;
	font-family: FontAwesome;
	
}
.list-group-tree .list-group-collapse .list-group {
	margin-left: 0;
}
.list-group-tree .list-group-item.active {
	color: #dd1d1d;
	background-color: transparent;
	font-weight: 600;
}
.list-group-tree .list-group-collapse .list-group > .list-group-item::before {
	position: absolute;
	top: 14px;
	left: 0;
	content: '';
	width: 8px;
	height: 1px;
}
.list-group-tree .list-group-item:hover {
	color: #ef0d0d;
	background-color: transparent;
	outline: 0;
	font-weight: 700;
}

/*---------------------
  Shop Grid
-----------------------*/

.product {
	padding-top: 40px;
	padding-bottom: 80px;
}

.product__details__pic__item img {
    min-width: 100%;
}



.product__item__text {
	text-align: center;
	padding: 15px 0 45px 0;
}




.product__item__text ul li {
    list-style: none;
    font-size: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 1px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    display: inline-block;
}
.product__item__text h6 {
		list-style: none;
		font-size: 15px;
		color: #ffffff;
		font-weight: 700;
		padding: 1px 10px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 50px;
		display: inline-block;
	
	color: #ffffff;
	font-weight: 700;
}


.product__pagination a,
.blog__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin: 0 16px 0 auto ;
}

.product__pagination a:hover,
.blog__pagination a:hover {
	background: #cd2020;
	border-color: #cd2020;
	color: #ffffff;
}


/*---------------------
  Footer
-----------------------*/
.footer__about__logo {
	width: 350px;
	display: inline-block;
}

.footer {
	background: #9b2323;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #ffffff;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #000000;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #ffffff;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #ffffff;
	height: 46px;
	border: 1px solid #ffffff;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #ffffff;
	color: #000000;
	border-color: #000000;
}

.footer__copyright {
	border-top: 1px solid #ffffff;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}


.footer__copyright__payment {
	float: right;
}


----------------------------------------------------------------*/

 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 120% !important;
     color: #ffffff;
     margin: 0 
}
 h6 {
     font-size: 18px 
}
 .products-single {
     overflow: hidden;
     position: relative;
     margin-bottom: 30px;
}
 .products-single .box-img-hover{
     overflow: hidden;
     position: relative;
}
 .type-lb{
     position: absolute;
     top: 0px;
     left: 0px;
     z-index:8;
}
 .type-lb .sale{
     background: #ff0000;
     color: #ffffff;
     padding: 2px 10px;
     font-weight: 700;
     text-transform: uppercase;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700');
@import url(bootstrap-select.css);
@import url(carousel-ticker.css);
@import url(bootsnav.css);

.all-title-box{
     background: url("../img/product/all-bg-title.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -ms-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     text-align: center;
     background-attachment: fixed;
     padding: 70px 0px;
     position: relative;
}
 .all-title-box::before{
     background: rgba(0,0,0,0.6);
     content: "";
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}
 .all-title-box h2{
     font-size: 28px;
     font-weight: 700;
     color: #ffffff;
	 float: left;
     padding: 10px 0px;
}
 .all-title-box .breadcrumb{
     background: #b0b435;
     margin: 0px;
     display: inline-block;
     border-radius: 0px;
	 float: right;
}
 .all-title-box .breadcrumb li{
     display: inline-block;
     color: #000000;
     font-size: 16px;
}
 .all-title-box .breadcrumb li a{
     color: #ffffff;
     font-size: 16px;
}
 .all-title-box .breadcrumb-item + .breadcrumb-item::before{
     color: #000000;
}

 .shop-detail-box-main{
     padding: 70px 0px;
}
 .single-product-details h4{
     font-size: 18px;
     font-weight: 700;
     margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.box {
    position: relative;
	margin-top: 0px;
    padding: 90px 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}

 .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
}

 .box .img-box img {
  max-width: 100%;
  max-height: 500px;
  -webkit-transition: all .3s;
  transition: all .1s;
}
 .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

 .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}



 .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

 .option_container {
  position: absolute;
  top: 0;
  left: -0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
	background-color: rgba(236, 119, 119, 0.577);;
}

.movie-info--large-opening-date {
    font-size: 20px;
	font-weight: 650;
    margin-bottom: 10px;
	 color: #F3F6FA;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px 0;
}

 .options .option1 {
  background-color: #ff000d;
  border: 1px solid #f7444e;
  color: #ffffff;
}

 .options .option1:hover {
  background-color: #ff000d;
  color: #ffffff;
}

 .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

 .options .option2:hover {
  background-color: #000000;
  color: #ffffff;
}

.detail-box h5 {
    font-size: 21px;
    font-weight: 700;
}

.restricted-mark_pink {
    color: #e50246;
}

.restricted-icon {
    bottom: 3px;
    font-size: 14px;
    position: relative;
}

.restricted-mark--parenthesis {
    font-size: .875em;
    font-weight: 400;
}

.restricted-mark--letter {
    display: inline-block;
    font-size: 1.0625em;
    font-weight: 900;
    margin: 0 0.0625em;
    position: relative;
    top: 0.125em;
}

.restricted-mark--parenthesis {
    font-size: .875em;
    font-weight: 400;
}

.restricted-mark {
    display: inline-block;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    position: relative;
    vertical-align: text-bottom;
}


