/* Tables esstuve aqui*/

.table {
  margin-bottom: 0;
  color: $text-muted;
  

  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: $font-weight-medium;
      color: $text-muted; 

    .table th img, .jsgrid .jsgrid-table th img, .table td img, .jsgrid .jsgrid-table td img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

      i {
        margin-left: 0.325rem;
      }
    }
  }

  th,
  td {
    vertical-align: middle;
    font-size: $default-font-size;
    line-height: 1;
    white-space: nowrap;

    

    .badge {
      margin-bottom: 0;
    }
  }

  &.table-borderless {
    border: none;

    tr,
    td,
    th {
      border: none;
    }
  }
  .table-dark {
    background: $table-dark-bg;
  }
  &.table-contextual {
    color: #ffffff;
  }
}